<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maurizio.simplifiedlauncher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.simplifiedlauncher.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simplifiedlauncher.applist.AppsListActivity"
            android:label="@string/title_activity_app_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.simplifiedlauncher.sms.NewSMSActivity"
            android:label="Nuovo Messaggio"></activity>

        <activity android:name="com.simplifiedlauncher.sms.SMSListActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
</manifest>